@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Andika&family=Catamaran:wght@400;500&family=Inter:wght@300&family=Kaushan+Script&family=Labrada:wght@300&family=Lato:wght@300;400&family=Montserrat:wght@200;300&family=Open+Sans:wght@300;400;500&family=PT+Sans&family=Poppins&family=Raleway:ital,wght@0,300;0,500;0,600;1,300&family=Tangerine:wght@400;700&family=Ubuntu:wght@300&family=Vollkorn&family=Work+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-family: "Andika", sans-serif;
  font-family: "Catamaran", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Labrada", serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tangerine", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Work Sans", sans-serif;
}

body {
  background: #dedee6;
  background-image: url(assets/Background.png);
}
